.grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    color: pink;
    border: solid 1px black;
}

.square_o {
    background-color: green;
}

.square_x {
    background-color: red;
}

p {
    font-size: 2rem;
}

.reset {
    margin-top: 2px;
    font-size: 2rem;
    background-color: blue;
    border: none;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;
}

.selected {
    background-color: white;
    width: 50px;
    height: 25px;
    font-size: 8px;
    color: black;
    border: solid 1px black;
}

.not {
    /* background-color: gray; */
    width: 50px;
    height: 25px;
    font-size: 8px;
    color: black;
    border: solid 1px black;
}
